Repository tonlabs/che, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vparfonov, @ashumilova, @benoitf, @tolusha, @skabashnyuk, @sleshchenko, @ibuziuk, @amisevsk, @metlos, @mshaposhnik, @dkuleshov, @azatsarynnyy, @l0rd, @musienko-maxim, @dmytro-ndp, @Ohrimenko1988, @rhopp

.github/CODEOWNERS:

# Global Owners
* @vparfonov

# dashboard
dashboard/** @ashumilova @benoitf

# dockerfiles
dockerfiles/** @benoitf

# ide
ide/che-core-ide-stacks/** @ashumilova

# agents
agents/** @tolusha

# assembly
assembly/** @skabashnyuk
assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/** @sleshchenko @ibuziuk

# core
core/** @skabashnyuk

# workspace runtime infrastructure implementations
infrastructures/** @sleshchenko @amisevsk @metlos

# multiuser che
multiuser/api/**  @sleshchenko
multiuser/integration-tests/**  @mshaposhnik @sleshchenko
multiuser/keycloak/**  @mshaposhnik
multiuser/machine-auth/**  @mshaposhnik
multiuser/permission/**  @sleshchenko
multiuser/personal-account/**  @sleshchenko
multiuser/sql-schema/**  @mshaposhnik @sleshchenko

# plugins
plugins/plugin*debugger/** @tolusha
plugins/plugin-gdb/** @tolusha
plugins/plugin-docker/** @sleshchenko
plugins/plugin-java/** @vparfonov
plugins/plugin-languageserver/** @vparfonov @dkuleshov
plugins/plugin-maven/** @vparfonov
plugins/plugin-orion/** @azatsarynnyy
plugins/plugin-testing*/** @vparfonov
plugins/plugin-traefik/** @benoitf

# wsmaster
wsmaster/** @skabashnyuk
wsmaster/che-core-api-factory/** @mshaposhnik
wsmaster/che-core-api-factory-shared/**   @mshaposhnik
wsmaster/che-core-api-workspace-activity/**   @mshaposhnik
wsmaster/che-core-api-workspace/**  @sleshchenko @mshaposhnik @metlos

# wsagent
wsagent/activity/** @skabashnyuk
wsagent/agent/** @tolusha
wsagent/che-core-api-debug*/** @tolusha
wsagent/che-core-api-languageserver*/** @vparfonov @dkuleshov
wsagent/che-core-api-testing*/** @vparfonov
wsagent/che-wsagent-core/** @skabashnyuk
wsagent/wsagent-local/** @skabashnyuk
wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/search/server/** @skabashnyuk
wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/search/** @skabashnyuk

# deploy
deploy/** @l0rd @sleshchenko
deploy/openshift/templates/monitoring/** @skabashnyuk @metlos

# selenium tests
selenium/** @musienko-maxim @dmytro-ndp @Ohrimenko1988

# e2e tests
e2e/**  @musienko-maxim @Ohrimenko1988 @rhopp

Rewritten Send Message in order to use TON SDK.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/Abi.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/AbiFunctionJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/AbiJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/AbiParameterJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiFunction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiParameter.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TONKeyPairDataJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/KeyUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Added notification on successfully ran contract.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Fixed issues with keys.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TONKeyPairDataJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/HexUtil.java
Owners: @vparfonov

Fixed empty extension issue.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/KeyUtil.java
Owners: @vparfonov

Added custom file contents download. Fixed several errors.
  plugins/plugin-ton-project/plugin-ton-project-ide/package-lock.json
  plugins/plugin-ton-project/plugin-ton-project-ide/package.json
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/AbiJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/Console.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/HexUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/HttpUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Using one file for keypair.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/Abi.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/HttpUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/KeyUtil.java
Owners: @vparfonov

explicitly pass a node url
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessagePresenter.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

fix formatting error
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessagePresenter.java
Owners: @vparfonov

Update startup.edition.node.che.ws-agent.script.sh
  wsagent/agent/src/main/resources/installers/startup_edition_node/startup.edition.node.che.ws-agent.script.sh
Owners: @tolusha

Added stack with Node SE.
  ide/che-core-ide-stacks/src/main/resources/stacks.json
Owners: @ashumilova

Added id to the new stack.
  ide/che-core-ide-stacks/src/main/resources/stacks.json
Owners: @ashumilova

Updated docker images names/tags.
  ide/che-core-ide-stacks/src/main/resources/stacks.json
Owners: @ashumilova

Removed all installers from node-se machine.
  ide/che-core-ide-stacks/src/main/resources/stacks.json
Owners: @ashumilova

Updated commands.
  ide/che-core-ide-stacks/src/main/resources/stacks.json
Owners: @ashumilova

Set se-node endpoint
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Fixed compilation errors.
  plugins/plugin-ton-project/plugin-ton-project-ide/package-lock.json
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessagePresenter.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/project/TonCProjectWizardRegistrar.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/project/TonSolProjectWizardRegistrar.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
Owners: @vparfonov

Fixed SDK endpoint path applying.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Downgraded ton-sdk-wasm.
  plugins/plugin-ton-project/plugin-ton-project-ide/package.json
Owners: @vparfonov

Implemented file URL generation in order to fix HTTP queries error.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/HttpUtil.java
Owners: @vparfonov

Fixed compilation error.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Using base64-encoded keys.
  plugins/plugin-ton-project/plugin-ton-project-ide/pom.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/HexUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/HttpUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/KeyUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/module.gwt.xml
Owners: @vparfonov

Fixed ton.js.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Changed using TONClient singleton to class creation.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Fixed TONClient setup order.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Removed "this" before "ton".
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Added allow-origin headers into che.properties.
  assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties
Owners: @sleshchenko, @ibuziuk

Improved processing result of run contract.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
Owners: @vparfonov

Trying to fix building/
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying to fix building #2.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying to fix building #3.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Showing output using commandExecutor.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

adds result output
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Fixed integers.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiParameter.java
Owners: @vparfonov

Fixed commandExecutor, added logging of result.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying to fix value returning of runContract() in ton.js.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Updated formatting of UI.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Renamed Send Message into Run Contract.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/RunContractAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/RunContractPresenter.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/RunContractView.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/RunContractViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/RunContractViewImpl.ui.xml
Owners: @vparfonov

Removed Command Executor output.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/RunContractViewImpl.java
Owners: @vparfonov

Added bitsXX data type support.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiParameter.java
Owners: @vparfonov

Selected machine for Get Account State action.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountStateTvcAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/RunContractViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/util/Constants.java
Owners: @vparfonov
