Repository tonlabs/che, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vparfonov, @ashumilova, @benoitf, @tolusha, @skabashnyuk, @sleshchenko, @ibuziuk, @amisevsk, @metlos, @mshaposhnik, @dkuleshov, @azatsarynnyy, @l0rd, @musienko-maxim, @dmytro-ndp, @Ohrimenko1988, @rhopp

.github/CODEOWNERS:

# Global Owners
* @vparfonov

# dashboard
dashboard/** @ashumilova @benoitf

# dockerfiles
dockerfiles/** @benoitf

# ide
ide/che-core-ide-stacks/** @ashumilova

# agents
agents/** @tolusha

# assembly
assembly/** @skabashnyuk
assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/** @sleshchenko @ibuziuk

# core
core/** @skabashnyuk

# workspace runtime infrastructure implementations
infrastructures/** @sleshchenko @amisevsk @metlos

# multiuser che
multiuser/api/**  @sleshchenko
multiuser/integration-tests/**  @mshaposhnik @sleshchenko
multiuser/keycloak/**  @mshaposhnik
multiuser/machine-auth/**  @mshaposhnik
multiuser/permission/**  @sleshchenko
multiuser/personal-account/**  @sleshchenko
multiuser/sql-schema/**  @mshaposhnik @sleshchenko

# plugins
plugins/plugin*debugger/** @tolusha
plugins/plugin-gdb/** @tolusha
plugins/plugin-docker/** @sleshchenko
plugins/plugin-java/** @vparfonov
plugins/plugin-languageserver/** @vparfonov @dkuleshov
plugins/plugin-maven/** @vparfonov
plugins/plugin-orion/** @azatsarynnyy
plugins/plugin-testing*/** @vparfonov
plugins/plugin-traefik/** @benoitf

# wsmaster
wsmaster/** @skabashnyuk
wsmaster/che-core-api-factory/** @mshaposhnik
wsmaster/che-core-api-factory-shared/**   @mshaposhnik
wsmaster/che-core-api-workspace-activity/**   @mshaposhnik
wsmaster/che-core-api-workspace/**  @sleshchenko @mshaposhnik @metlos

# wsagent
wsagent/activity/** @skabashnyuk
wsagent/agent/** @tolusha
wsagent/che-core-api-debug*/** @tolusha
wsagent/che-core-api-languageserver*/** @vparfonov @dkuleshov
wsagent/che-core-api-testing*/** @vparfonov
wsagent/che-wsagent-core/** @skabashnyuk
wsagent/wsagent-local/** @skabashnyuk
wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/search/server/** @skabashnyuk
wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/search/** @skabashnyuk

# deploy
deploy/** @l0rd @sleshchenko
deploy/openshift/templates/monitoring/** @skabashnyuk @metlos

# selenium tests
selenium/** @musienko-maxim @dmytro-ndp @Ohrimenko1988

# e2e tests
e2e/**  @musienko-maxim @Ohrimenko1988 @rhopp

Trying to make SendMessage button (un)locking instant #2.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying to make SendMessage button (un)locking instant #3.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/event/InputEvent.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/event/InputHandler.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Added actions for help opening.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/OpenUrlAction.java
Owners: @vparfonov

Added missed registerActions() invocation.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Added debug info for OpenUrlAction. Little fixes.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/OpenUrlAction.java
Owners: @vparfonov

Removed server dependency.
  assembly/assembly-wsagent-war/pom.xml
  pom.xml
Owners: @skabashnyuk, @vparfonov

Substituted Window.open() with BrowserUtils.openInNewTab().
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/OpenUrlAction.java
Owners: @vparfonov

Added help menu icons.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectResources.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/tondev.svg
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/tonlabs.svg
Owners: @vparfonov

Organized help into groups.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Fixed titles for website actions.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Send message on Enter key.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/model/UiFunction.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Reformatted code.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Merged the SendMessage plugin with the TON-Project plugin.
  ide/che-ide-gwt-app/pom.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/TonDeployedContractDirAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/TonProjectAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/event/InputEvent.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/event/InputHandler.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/Abi.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/AbiFunction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/AbiParameter.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiFunction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiParameter.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessagePresenter.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageView.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.ui.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/pom.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/SendMessageExtension.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/SendMessageResources.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/inject/SendMessageModule.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/module.gwt.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/resources/io/tonlabs/sendmessage/ide/svg/ton.svg
  plugins/plugin-ton-sendmessage/pom.xml
  plugins/pom.xml
  pom.xml
Owners: @vparfonov

Added and implemented Account Info action for selected *.tvc file.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountInfoTvcAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/TonFolderAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Fixed LiteClient stdin error.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountInfoTvcAction.java
Owners: @vparfonov

Renamed Account Info into Account State.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountStateTvcAction.java
Owners: @vparfonov

Reformatted.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Added and implemented Account Info action for selected *.tvc file.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountInfoTvcAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/TonFolderAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Fixed LiteClient stdin error.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountInfoTvcAction.java
Owners: @vparfonov

Renamed Account Info into Account State.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountStateTvcAction.java
Owners: @vparfonov

Added actions for help opening.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/OpenUrlAction.java
Owners: @vparfonov

Added missed registerActions() invocation.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Added debug info for OpenUrlAction. Little fixes.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/OpenUrlAction.java
Owners: @vparfonov

Substituted Window.open() with BrowserUtils.openInNewTab().
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/OpenUrlAction.java
Owners: @vparfonov

Added help menu icons.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectResources.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/tondev.svg
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/tonlabs.svg
Owners: @vparfonov

Organized help into groups.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Fixed titles for website actions.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Fixed merging errors.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
Owners: @vparfonov

Trying new ADNL client in SendMessage.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying new ADNL client in Get Account State.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/AccountStateTvcAction.java
Owners: @vparfonov

Added an automatic adding of "0x" for HEX values.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/Abi.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/AbiFunction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiFunction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiParameter.java
Owners: @vparfonov

Fixed error with decimal number treated as hex.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/model/UiParameter.java
Owners: @vparfonov

Added npm dependencies.
  plugins/plugin-ton-project/plugin-ton-project-ide/pom.xml
Owners: @vparfonov

Separated installing of npm modules into executions.
  plugins/plugin-ton-project/plugin-ton-project-ide/pom.xml
Owners: @vparfonov

Updated npm package management.
  plugins/plugin-ton-project/plugin-ton-project-ide/.gitignore
  plugins/plugin-ton-project/plugin-ton-project-ide/package-lock.json
  plugins/plugin-ton-project/plugin-ton-project-ide/package.json
  plugins/plugin-ton-project/plugin-ton-project-ide/pom.xml
Owners: @vparfonov

Fixed npm warnings.
  plugins/plugin-ton-project/plugin-ton-project-ide/package.json
Owners: @vparfonov

Removed copyrights.
  plugins/plugin-ton-project/plugin-ton-project-ide/pom.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectResources.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/inject/TonProjectModule.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/project/TonCProjectWizardRegistrar.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/project/TonSolProjectWizardRegistrar.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/module.gwt.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/blank.svg
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/deploy.svg
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/run.svg
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/samples.svg
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/resources/io/tonlabs/ide/svg/ton.svg
  plugins/plugin-ton-project/plugin-ton-project-server/pom.xml
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/java/io/tonlabs/generator/TonCProjectCreateProjectHandler.java
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/java/io/tonlabs/generator/TonSolProjectCreateProjectHandler.java
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/java/io/tonlabs/inject/TonProjectGuiceModule.java
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/java/io/tonlabs/projecttype/TonCProjectType.java
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/java/io/tonlabs/projecttype/TonSolProjectType.java
  plugins/plugin-ton-project/plugin-ton-project-shared/pom.xml
  plugins/plugin-ton-project/plugin-ton-project-shared/src/main/java/io/tonlabs/shared/Constants.java
  plugins/plugin-ton-project/pom.xml
Owners: @vparfonov

Moved npm dependencies into the dashboard.
  dashboard/package.json
  plugins/plugin-ton-project/plugin-ton-project-ide/package-lock.json
  plugins/plugin-ton-project/plugin-ton-project-ide/package.json
  plugins/plugin-ton-project/plugin-ton-project-ide/pom.xml
Owners: @ashumilova, @benoitf, @vparfonov

Trying another way to import libs.
  dashboard/src/index.ts
Owners: @ashumilova, @benoitf

Revert "Trying another way to import libs."
  dashboard/src/index.ts
Owners: @ashumilova, @benoitf
