Repository tonlabs/che, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vparfonov, @ashumilova, @benoitf, @tolusha, @skabashnyuk, @sleshchenko, @ibuziuk, @amisevsk, @metlos, @mshaposhnik, @dkuleshov, @azatsarynnyy, @l0rd, @musienko-maxim, @dmytro-ndp, @Ohrimenko1988, @rhopp

Split test scenario to steps
  e2e/pageobjects/ide/Editor.ts
  e2e/pageobjects/ide/Ide.ts
  e2e/pageobjects/ide/TopMenu.ts
  e2e/tests/e2e_happy_path/HappyPath.spec.ts
Owners: @musienko-maxim, @Ohrimenko1988, @rhopp

Remove redundant class
  e2e/pageobjects/ide/Example.ts
Owners: @musienko-maxim, @Ohrimenko1988, @rhopp

Reverted plugins and removed dependencies to fix building.
  .gitignore
  assembly/assembly-wsagent-war/pom.xml
  ide/che-ide-full/pom.xml
  plugins/plugin-camel/che-plugin-camel-server/pom.xml
  plugins/plugin-camel/che-plugin-camel-server/src/main/java/org/eclipse/che/plugin/camel/server/inject/CamelModule.java
  plugins/plugin-camel/che-plugin-camel-server/src/main/java/org/eclipse/che/plugin/camel/server/languageserver/CamelLanguageServerConfig.java
  plugins/plugin-camel/pom.xml
  plugins/pom.xml
Owners: @vparfonov, @skabashnyuk

Update stacks.json
  ide/che-core-ide-stacks/src/main/resources/stacks.json
Owners: @ashumilova

Fixed Hello World templates.
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/java/io/tonlabs/generator/TonCProjectCreateProjectHandler.java
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/java/io/tonlabs/generator/TonSolProjectCreateProjectHandler.java
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/resources/files/hello_world.c
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/resources/templates/c/hello_world.abi
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/resources/templates/c/hello_world.c
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/resources/templates/sol/hello_world.sol
Owners: @vparfonov

Fixed Solidity Hello World.
  plugins/plugin-ton-project/plugin-ton-project-server/src/main/resources/templates/sol/hello_world.sol
Owners: @vparfonov

Very first sample
  ide/che-core-ide-templates/src/main/resources/samples.json
Owners: @vparfonov

Samples update: Adding first set of examples
  ide/che-core-ide-templates/src/main/resources/samples.json
Owners: @vparfonov

bug-fix: new line in a sctring
  ide/che-core-ide-templates/src/main/resources/samples.json
Owners: @vparfonov

update samples
  ide/che-core-ide-templates/src/main/resources/samples.json
Owners: @vparfonov

update samples
  ide/che-core-ide-templates/src/main/resources/samples.json
Owners: @vparfonov

text updates
  ide/che-core-ide-templates/src/main/resources/samples.json
Owners: @vparfonov

Added SendMessage plugin framework.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/pom.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/SendMessageExtension.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/SendMessageServiceClient.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/action/SendMessageAction.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/module.gwt.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-server/pom.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-server/src/main/java/io/tonlabs/sendmessage/SendMessageService.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-server/src/main/java/io/tonlabs/sendmessage/inject/SendMessageGuiceModule.java
  plugins/plugin-ton-sendmessage/pom.xml
  plugins/pom.xml
Owners: @vparfonov

Renamed action and added plugin as dependencies.
  assembly/assembly-wsagent-war/pom.xml
  ide/che-ide-gwt-app/pom.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/action/SendMessageAction.java
  pom.xml
Owners: @skabashnyuk, @vparfonov

Trying to fix building.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/pom.xml
Owners: @vparfonov

Trying to fix building #2.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/pom.xml
Owners: @vparfonov

Trying to fix building #3.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/pom.xml
Owners: @vparfonov

Added part and showing of it.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/pom.xml
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/action/SendMessageAction.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/inject/SendMessageModule.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessagePresenter.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageView.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying to fix view.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageView.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Added ListBox and Table.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/model/Parameter.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessagePresenter.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying to fix view opening.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/action/SendMessageAction.java
Owners: @vparfonov

Fixed compilation error.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Reformatted sources.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Rewritten to UiBinder. Added margins.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Trying to fix layout.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Trying to fix UI.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Added initWidget() in order to fix UI rendering.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Reformatted sources.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Commented initWidget.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Removed provided and reverted initWidget.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Trying simple layout.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Added setContentWidget.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Reverted UI elements.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Fixed UI.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Updated UI.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Trying to fix layout.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Fixed compilation error.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Simplified UI.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

Removed unused import.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Shrunk UI vertically.
  plugins/plugin-ton-sendmessage/plugin-ton-sendmessage-ide/src/main/java/io/tonlabs/sendmessage/ide/part/SendMessageViewImpl.ui.xml
Owners: @vparfonov

.github/CODEOWNERS:

# Global Owners
* @vparfonov

# dashboard
dashboard/** @ashumilova @benoitf

# dockerfiles
dockerfiles/** @benoitf

# ide
ide/che-core-ide-stacks/** @ashumilova

# agents
agents/** @tolusha

# assembly
assembly/** @skabashnyuk
assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/** @sleshchenko @ibuziuk

# core
core/** @skabashnyuk

# workspace runtime infrastructure implementations
infrastructures/** @sleshchenko @amisevsk @metlos

# multiuser che
multiuser/api/**  @sleshchenko
multiuser/integration-tests/**  @mshaposhnik @sleshchenko
multiuser/keycloak/**  @mshaposhnik
multiuser/machine-auth/**  @mshaposhnik
multiuser/permission/**  @sleshchenko
multiuser/personal-account/**  @sleshchenko
multiuser/sql-schema/**  @mshaposhnik @sleshchenko

# plugins
plugins/plugin*debugger/** @tolusha
plugins/plugin-gdb/** @tolusha
plugins/plugin-docker/** @sleshchenko
plugins/plugin-java/** @vparfonov
plugins/plugin-languageserver/** @vparfonov @dkuleshov
plugins/plugin-maven/** @vparfonov
plugins/plugin-orion/** @azatsarynnyy
plugins/plugin-testing*/** @vparfonov
plugins/plugin-traefik/** @benoitf

# wsmaster
wsmaster/** @skabashnyuk
wsmaster/che-core-api-factory/** @mshaposhnik
wsmaster/che-core-api-factory-shared/**   @mshaposhnik
wsmaster/che-core-api-workspace-activity/**   @mshaposhnik
wsmaster/che-core-api-workspace/**  @sleshchenko @mshaposhnik @metlos

# wsagent
wsagent/activity/** @skabashnyuk
wsagent/agent/** @tolusha
wsagent/che-core-api-debug*/** @tolusha
wsagent/che-core-api-languageserver*/** @vparfonov @dkuleshov
wsagent/che-core-api-testing*/** @vparfonov
wsagent/che-wsagent-core/** @skabashnyuk
wsagent/wsagent-local/** @skabashnyuk
wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/search/server/** @skabashnyuk
wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/search/** @skabashnyuk

# deploy
deploy/** @l0rd @sleshchenko
deploy/openshift/templates/monitoring/** @skabashnyuk @metlos

# selenium tests
selenium/** @musienko-maxim @dmytro-ndp @Ohrimenko1988

# e2e tests
e2e/**  @musienko-maxim @Ohrimenko1988 @rhopp
