Repository tonlabs/che, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vparfonov, @ashumilova, @benoitf, @tolusha, @skabashnyuk, @sleshchenko, @ibuziuk, @amisevsk, @metlos, @mshaposhnik, @dkuleshov, @azatsarynnyy, @l0rd, @musienko-maxim, @dmytro-ndp, @Ohrimenko1988, @rhopp

Configured npm and webpack, added test line.
  dashboard/package.json
  plugins/plugin-ton-project/plugin-ton-project-ide/package-lock.json
  plugins/plugin-ton-project/plugin-ton-project-ide/package.json
  plugins/plugin-ton-project/plugin-ton-project-ide/pom.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/module.gwt.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/webpack.config.js
Owners: @ashumilova, @benoitf, @vparfonov

Trying to use default public path.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/module.gwt.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/webpack.config.js
Owners: @vparfonov

Trying to move ton.js into che-ide-gwt-app's public.
  plugins/plugin-ton-project/plugin-ton-project-ide/webpack.config.js
Owners: @vparfonov

Trying to use JS method of SDK from Java.
  .gitignore
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Rewritten to JsInterop.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Transformed TonSDK into singleton.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/TonProjectExtension.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
Owners: @vparfonov

Marked java fields/methods as @JsOverlay.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
Owners: @vparfonov

Reformatted code.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
Owners: @vparfonov

Create startup.edition.node.che.ws-agent.json
  wsagent/agent/src/main/resources/installers/startup_edition_node/startup.edition.node.che.ws-agent.json
Owners: @tolusha

Create startup.edition.node.che.ws-agent.script.sh
  wsagent/agent/src/main/resources/installers/startup_edition_node/startup.edition.node.che.ws-agent.script.sh
Owners: @tolusha

Creating TonSDK from JS.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

window → top
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
Owners: @vparfonov

Moved JSNI code into separated class JsUtil.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/JsUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
Owners: @vparfonov

Moved SDK initialization into SendMessage window. Added debug alerts.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/action/SendMessageAction.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Added debugger.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Turned off the obfuscation. Added debugger into JS.
  ide/che-ide-gwt-app/pom.xml
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Rewritten using RequireJs.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/JsUtil.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSDK.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Reverted obfuscation.
  ide/che-ide-gwt-app/pom.xml
Owners: @vparfonov

Trying to fix error by substituting TonSdk class export by new TonSdk().
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

module.exports → export default class.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Changed export to creation of instance.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Trying hello_world.js
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/hello_world.js
  plugins/plugin-ton-project/plugin-ton-project-ide/webpack.config.js
Owners: @vparfonov

Hello world updated from the example of RequireJs.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/hello_world.js
Owners: @vparfonov

Updated hello_world.js.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/hello_world.js
Owners: @vparfonov

Processing null values.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
Owners: @vparfonov

Improved ModuleHolder.
  ide/commons-gwt/src/main/java/org/eclipse/che/requirejs/ModuleHolder.java
Owners: @vparfonov

Trying to fix webpack.config.js
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/hello_world.js
  plugins/plugin-ton-project/plugin-ton-project-ide/webpack.config.js
Owners: @vparfonov

Added script inclusion.
  ide/che-ide-gwt-app/src/main/resources/org/eclipse/che/ide/public/IDE.html
Owners: @vparfonov

Trying TonSdk manually included.
  ide/che-ide-gwt-app/src/main/resources/org/eclipse/che/ide/public/IDE.html
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
  plugins/plugin-ton-project/plugin-ton-project-ide/webpack.config.js
Owners: @vparfonov

Trying global injection.
  ide/che-ide-gwt-app/src/main/resources/org/eclipse/che/ide/public/IDE.html
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
  plugins/plugin-ton-project/plugin-ton-project-ide/webpack.config.js
Owners: @vparfonov

Reformatted code.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
Owners: @vparfonov

Fixed ton.js path.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
Owners: @vparfonov

Using top-window for ton-script.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
Owners: @vparfonov

Obtaining foo from 'ide-application-iframe'.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
Owners: @vparfonov

Using TonSdk.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Async initialization.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/part/SendMessageViewImpl.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/hello_world.js
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Turned off the obfuscation of GWT.
  ide/che-ide-gwt-app/pom.xml
Owners: @vparfonov

Fixed initialization. Refactoring.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

Missed changes of TonSdkJso.
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
Owners: @vparfonov

Downgraded SDK in order to fix error with WSS. Refactoring.
  plugins/plugin-ton-project/plugin-ton-project-ide/package-lock.json
  plugins/plugin-ton-project/plugin-ton-project-ide/package.json
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/TonSdkInitializer.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/java/io/tonlabs/ide/sdk/jso/TonSdkJso.java
  plugins/plugin-ton-project/plugin-ton-project-ide/src/main/js/ton.js
Owners: @vparfonov

.github/CODEOWNERS:

# Global Owners
* @vparfonov

# dashboard
dashboard/** @ashumilova @benoitf

# dockerfiles
dockerfiles/** @benoitf

# ide
ide/che-core-ide-stacks/** @ashumilova

# agents
agents/** @tolusha

# assembly
assembly/** @skabashnyuk
assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/** @sleshchenko @ibuziuk

# core
core/** @skabashnyuk

# workspace runtime infrastructure implementations
infrastructures/** @sleshchenko @amisevsk @metlos

# multiuser che
multiuser/api/**  @sleshchenko
multiuser/integration-tests/**  @mshaposhnik @sleshchenko
multiuser/keycloak/**  @mshaposhnik
multiuser/machine-auth/**  @mshaposhnik
multiuser/permission/**  @sleshchenko
multiuser/personal-account/**  @sleshchenko
multiuser/sql-schema/**  @mshaposhnik @sleshchenko

# plugins
plugins/plugin*debugger/** @tolusha
plugins/plugin-gdb/** @tolusha
plugins/plugin-docker/** @sleshchenko
plugins/plugin-java/** @vparfonov
plugins/plugin-languageserver/** @vparfonov @dkuleshov
plugins/plugin-maven/** @vparfonov
plugins/plugin-orion/** @azatsarynnyy
plugins/plugin-testing*/** @vparfonov
plugins/plugin-traefik/** @benoitf

# wsmaster
wsmaster/** @skabashnyuk
wsmaster/che-core-api-factory/** @mshaposhnik
wsmaster/che-core-api-factory-shared/**   @mshaposhnik
wsmaster/che-core-api-workspace-activity/**   @mshaposhnik
wsmaster/che-core-api-workspace/**  @sleshchenko @mshaposhnik @metlos

# wsagent
wsagent/activity/** @skabashnyuk
wsagent/agent/** @tolusha
wsagent/che-core-api-debug*/** @tolusha
wsagent/che-core-api-languageserver*/** @vparfonov @dkuleshov
wsagent/che-core-api-testing*/** @vparfonov
wsagent/che-wsagent-core/** @skabashnyuk
wsagent/wsagent-local/** @skabashnyuk
wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/search/server/** @skabashnyuk
wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/search/** @skabashnyuk

# deploy
deploy/** @l0rd @sleshchenko
deploy/openshift/templates/monitoring/** @skabashnyuk @metlos

# selenium tests
selenium/** @musienko-maxim @dmytro-ndp @Ohrimenko1988

# e2e tests
e2e/**  @musienko-maxim @Ohrimenko1988 @rhopp
